.button {
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
