.generalIntro {
  display: grid;
  grid-row: mainy-start/ mainy-end;
  grid-column: mainx-start/ mainx-end;
}

.generalIntro img {
  grid-row: mainy-start/ mainy-end;
  grid-column: mainx-start/ mainx-end;
}

.room_0Default {
  position: relative;
  z-index: 5;
}

.introPieces_0 {
  position: relative;
  z-index: 6;
}

.introPieces_1 {
  position: relative;
  z-index: 6;
}

.introPieces_2 {
  position: relative;
  z-index: 6;
}
